name: Rezerwacja Treningu (Pn-Sr-Pt)

on:
  schedule:
    # 20:30 UTC = 21:30 czasu polskiego (w zimie)
    # Dni tygodnia: 0 (Nd), 2 (Wt), 4 (Cz)
    - cron: '30 20 * * 0,2,4'
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pobranie kodu z repozytorium
        uses: actions/checkout@v3

      - name: Konfiguracja Pythona
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalacja potrzebnych bibliotek
        run: |
          pip install -r requirements.txt

      - name: Uruchomienie skryptu rezerwacji
        env:
          WODGURU_EMAIL: ${{ secrets.WODGURU_EMAIL }}
          WODGURU_PASSWORD: ${{ secrets.WODGURU_PASSWORD }}
        run: python rez.py
