name: Rezerwacja Treningu (Pn-Sr-Pt)

on:
  schedule:
    # 22:01 UTC = 00:01 czasu polskiego (w zimie)
    # Dni tygodnia: 0 (Niedziela), 2 (Wtorek), 4 (Czwartek)
    # Przy KLIKNIECIA_STRZALKI = 8, te dni zarezerwują odpowiednio:
    # - Niedziela noc -> Trening w przyszły poniedziałek
    # - Wtorek noc -> Trening w przyszłą środę
    # - Czwartek noc -> Trening w przyszły piątek
    - cron: '1 22 * * 0,2,4'
  
  # Pozwala na ręczne uruchomienie przyciskiem "Run workflow" w zakładce Actions
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pobranie kodu z repozytorium
        uses: actions/checkout@v3

      - name: Konfiguracja Pythona
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalacja potrzebnych bibliotek
        run: |
          pip install -r requirements.txt

      - name: Uruchomienie skryptu rezerwacji
        env:
          WODGURU_EMAIL: ${{ secrets.WODGURU_EMAIL }}
          WODGURU_PASSWORD: ${{ secrets.WODGURU_PASSWORD }}
        run: python rez.py
